# LinkedIn Web Scraping using Selenium

In [65]:
# importing webdriver will help in creating a dummy web browser for us.
from selenium import webdriver

# we use this library to ensure there is a span of time between requests.
import time

# pandas library helps in generating to DataFrames.
import pandas as pd


# import selenium By to locate to elements to scraped 
from selenium.webdriver.common.by import By

 We will be using a Google Chrome driver. We can download it from this site:  https://chromedriver.chromium.org/downloads

### Move the driver file to a PATH
Go to the Downloads directory, unzip the file and move it to 'C:/chromedrivers/chromedriver.exe' PATH.

In [66]:
driver = webdriver.Chrome(r'C:/chromedrivers/chromedriver.exe')

<ipython-input-66-813da720f857>:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(r'C:/chromedrivers/chromedriver.exe')

In [67]:
#input URL
driver.get('https://www.linkedin.com/')
time.sleep(3)

In [68]:
# For Login into LinkedIn
username = driver.find_element(by=By.ID, value="session_key")
username.send_keys("_____________________________")#provide linkedin login user_id in the blank. 
password = driver.find_element(by=By.ID, value="session_password")
password.send_keys("____________") #provide linkedin login password in the blank.
time.sleep(2)

![LinkedIn](https://imgur.com/hYqdJHc.png)

In [69]:
# Submit Button click
login_button = driver.find_element(by=By.CLASS_NAME, value="sign-in-form__submit-button")
login_button.click()
time.sleep(2)

In [71]:
# Input URL for Linkedin jobs
driver.get("https://www.linkedin.com/jobs/search/?keywords=web%20developer")
driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
time.sleep(5)

# Job Category:Information Technology

In [81]:
Sub_Category =['Web Developer']

In [83]:
# Input URL for Linkedin jobs

for job in Sub_Category:
    driver.get("https://www.linkedin.com/jobs/search/?keywords=" + job)
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)

In [84]:
# Creating empty Python Dictionary
dictn = {'job_title': [], 'company': [], 'location': []}
titles = driver.find_elements(by=By.XPATH, value="//div[@class='full-width artdeco-entity-lockup__title ember-view']/a")
company = driver.find_elements(by=By.XPATH, value="//div[@class='artdeco-entity-lockup__subtitle ember-view']/a")
location = driver.find_elements(by=By.XPATH, value='//div[@class="artdeco-entity-lockup__caption ember-view"]/ul/li[1]')

In [85]:
# Store data into Python Dictionary
index = min(len(titles),len(company),len(location))
print(index)
for i in range(index):
    dictn['job_title'].append(titles[i].text)
    dictn['company'].append(company[i].text)
    dictn['location'].append(location[i].text)

11

In [86]:
# Creating CSV file using Pandas 
df = pd.DataFrame(dictn)
df

,job_title,company,location
0,Quality Analyst,Lightbox Creation,"Ahmedabad, Gujarat, India"
1,Quality Analyst ( audit calls ),Make My House,"Indore, Madhya Pradesh, India"
2,Quality Analyst,FIRMINIQ,"Chandigarh, India"
3,"EE Receivables Quality Analyst, GERM",Amazon,"Hyderabad, Telangana, India"
4,Associate Quality Analyst - MRC,Sphera,"Bengaluru, Karnataka, India"
5,Business Analyst Intern,Convocean,India
6,QUALITY ANALYST,HELLA,"Gurugram, Haryana, India"
7,Business Analyst Intern,Convocean,India
8,Quality Analyst,Amazon,"Bengaluru, Karnataka, India"
9,Quality Analyst,Wipro,"Kolkata, West Bengal, India"
10,Quality analyst,Paytm,"Noida, Uttar Pradesh, India"

In [87]:
#code to convert dataframe into csv
df.to_csv('job.csv')

In [88]:

# Storing URL of Same Companies to get Data
links = []
for a in driver.find_elements(by=By.XPATH, value='//div[@class="mr1 artdeco-entity-lockup__image artdeco-entity-lockup__image--type-square ember-view"]/a'):
    # print(a.get_attribute('href'))
    links.append(a.get_attribute('href'))



dict1 = {"description": [], "location":[], "no._of_employee": []}
for link in links:
    source = requests.get(link)

    try:
        driver.get(link)
        time.sleep(3)
        driver.execute_script("window.scrollTo(0, 900)")
        time.sleep(2)
        dict1["description"].append(driver.find_element(by=By.XPATH, value='//div[@class="jobs-company__box"]/p/div').text)
        dict1["no._of_employee"].append(driver.find_element(by=By.XPATH, value='//span[1][@class="jobs-company__inline-information"]').text)
        dict1["location"].append(driver.find_element(by=By.CLASS_NAME, value='jobs-unified-top-card__bullet').text)
    except:
        print("URL not found")

In [89]:
len(links)

11

In [90]:
# Creating CSV file using Pandas 
df1 = pd.DataFrame(dict1)
df1

,description,location,no._of_employee
0,Lightbox Creation is a branding and digital ag...,"Ahmedabad, Gujarat, India",2-10 employees
1,"MMH is a team of architects, civil engineers, ...","Indore, Madhya Pradesh, India",51-200 employees
2,FIRMINIQ team is led by highly experienced pro...,"Chandigarh, India",51-200 employees
3,Amazon is guided by four principles: customer ...,"Hyderabad, Telangana, India","10,001+ employees"
4,"Sphera creates a safer, more sustainable and p...","Bengaluru, Karnataka, India","501-1,000 employees"
5,ConvOcean provides location based social media...,India,11-50 employees
6,About HELLA\nHELLA is a listed subsidiary of F...,"Gurugram, Haryana, India","10,001+ employees"
7,ConvOcean provides location based social media...,India,11-50 employees
8,Amazon is guided by four principles: customer ...,"Bengaluru, Karnataka, India","10,001+ employees"
9,"Wipro Limited (NYSE: WIT, BSE: 507685, NSE: WI...","Kolkata, West Bengal, India","10,001+ employees"
10,Paytm started the Digital Revolution in India....,"Noida, Uttar Pradesh, India","10,001+ employees"

In [ ]:
#code to convert dataframe into csv
df.to_csv('job details.csv')

# Future work

Using for loops and lists, multiple job sub categories can be scraped for a given category in a given state